.footer-container {
  width: 1100px;
  height: 745px;
  margin-left: 195px;
  display: flex;
  flex-direction: column;
}

.footer-links-container {
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: rgb(41, 41, 41);
  font-size: 14px;
}

footer .column {
  width: 195px;
}

.footer-heading {
  margin-bottom: 20px;
  font-weight: bolder;
}

footer li {
  margin-bottom: 6px;
}

.footer-icons {
  height: 40px;
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(208, 208, 208);
  padding-bottom: 46px;
}

.socials {
  display: flex;
}

.social-icons {
  margin-right: 21px;
}

.apps {
  display: flex;
  margin-left: auto;
}

.bottom-list {
  margin-top: 40px;
  display: flex;
}

.bottom-list a {
  font-weight: lighter;
  font-size: 14px;
}

.bottom-right {
  text-align-last: start;
}

.privacy {
  margin-right: -30px;
}

.bottom-right th {
  padding-right: 50px;
}

.bottom-right table {
  margin-bottom: 20px;
}

.footer-logo {
  display: inline-block;
}

.footer-logo img {
  height: 28px;
}

.footer-terms {
  text-align: right;
  width: 250px;
  margin-left: 90px;
}

.footer-terms p {
  font-size: 14px;
  text-align: right;
}